.main_sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem auto;
    width: 90%;
    max-width: 67rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.sidebar-technologies {
    width: 20%;
}

.article-content {
    width: 70%;
}

.sidebar-technologies-menu {
    list-style-type: none;
    padding-left: 0;
}

@media (max-width: 780px) {
    .sidebar-technologies,
    .sidebar-technologies-menu {
        display: none;

    }

    .article-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 98%;
    }
}
