$standard-font-size: 1rem;
$font-base: 1.2rem;
$base-line-height: 1.4;

$old-fashioned: Georgia, serif;
$modern: system-ui, serif;

@mixin line-height-and-font-size {
    font-size: $standard-font-size;
    line-height: $base-line-height;
    margin-bottom: $standard-font-size * $base-line-height;
}

.old-fashioned {
    @include line-height-and-font-size;
    font-family: $old-fashioned;
}

.modern {
    @include line-height-and-font-size;
    font-family: $modern;
}

.worst-ever {
    @include line-height-and-font-size;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -2.3px;
    text-transform: lowercase;
    background-color: #add8e6;
}
