{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <article class="main-sidebar" role="main">
        <nav class="sidebar-technologies">
            <h3>Samtliga rapporter/ Analyser</h3>
            <ul class="sidebar-technologies-menu">
                {% for page in pages("analysis") %}
                    <li{% if page.id==current_page.id %} class="active" {% endif %}>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <div class="article-content">
            {{ content }}
        </div>
    </article>
    
    {% include 'incl/footer.twig' %}
</body>

</html>