.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $footer-color;
    background-color: $footer-color;
}

.footer a {
    color: $footer-color;
    color: #fff;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}

.fab,
.fa,
.fas {
    color: $footer-icon-color;
    padding: 3px;
}
