/* report.scss */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
}

.photobox10 {
    order: 10;
}

.photobox20 {
    order: 20;
}

.photobox30 {
    order: 30;
}

.photobox40 {
    order: 40;
}

.photobox50 {
    order: 50;
}

.photobox60 {
    order: 60;
}

.photobox70 {
    order: 70;
}

.photobox80 {
    order: 80;
}

.photobox90 {
    order: 90;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
