/* report.scss */
.gallery-landingpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
}

.photobox10 {
    order: 10;
}

.photobox20 {
    order: 20;
}

.photobox30 {
    order: 30;
}

.photobox40 {
    order: 40;
}

.photobox50 {
    order: 50;
}

.photobox60 {
    order: 60;
}

.photobox70 {
    order: 70;
}

.photobox80 {
    order: 80;
}

.photobox90 {
    order: 90;
}

