.header,
.site-header {
    display: flex;
    justify-content: space-between;
    background-color: $header-background-color;
}

.title,
.logo {
    padding: 2em 3em 3em 10px;
}

.site-header > .title {
    h1,
    a,
    p {
        color: $font-color-header;
    }
}

.header > .nav {
    h1,
    a,
    p {
        color: $font-color-header;
    }
}

.nav li:hover {
    background-color: $header-hoover-color;
}

@media (max-width: 767px) {
    .nav-toggle {
        i {
            color: $font-color-header;
        }
    }
}
