/* report.scss */
.content-mainpage {
    display: grid;
    grid-template-columns: 30% 30% auto;
    grid-template-rows: 150px 150px 150px 150px;
    gap: 2em;
}

.text-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.img-right {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.text-below {
    grid-column: 1 / 3;
    grid-row: 4 / 4;
}

@media (max-width: 780px) {
    .content-mainpage {
        font-size: 112%;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: none;
        gap: 2em;
    }
    
    .text-left {
        grid-row: span 1;
        grid-column: span 1;
    }
    
    .img-right {
        grid-row: span 1;
        grid-column: span 1;
    }

    .text-below {
        grid-row: span 1;
        grid-column: span 1;
    }
}
