$header-background-color: #6d92a8;
$header-hoover-color: #f5f49f;

$background-color: #f5d0d0;
$font-color: #444;
$footer-background-color: #a8a876;

$footer-color: #f5f49f;
$footer-icon-color: #6d92a8;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;
